asgiref==3.3.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
Automat==20.2.0
autopep8==1.5.4
Django==3.1.4
django-cors-headers==3.6.0
django-phonenumber-field==5.0.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
channels==3.0.3
redis==3.5.3
gunicorn==20.1.0
whitenoise==5.2.0
channels_redis==3.2.0
dj_database_url==0.5.0
daphne==3.0.2
uvicorn==0.13.4
uvloop==0.15.2